.logo {
  width: 200px;
  height: 38px;
  margin: 10px;
}

.fullWrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.transportationMode {
  margin: 0px 10px;
  border: 1px solid transparent;
}